.b1 {
  background-color: white; 
  padding-top: 3rem;
  padding-bottom: 6rem; 
  color: #5a5a5a;
  position: relative; }

.b2 {
  background-color: white; 
  padding-top: 7rem;
  color: #5a5a5a;}

.b3 {
  background-color: white; 
  padding-top: 5rem;
  color: #5a5a5a;}
}


.TituloPrincipal {
  color: #1f1f1f;
  font-family: 'Poppins', sans-serif;
  text-decoration-line: underline;
  display: inline;
  animation-duration: 2s;
  animation-name: aparecer; }

.TituloSecundario {
  color: #1f1f1f;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 16px; }

.Logo {
  width: 20%;
  display: flex-inline; }

.logoD {
  background-color: #1B262C; }

.Nosotros {
  font-family: 'Open Sans', sans-serif; }

.consulta {
  display: grid;
  justify-items: center; }

.Body {
  background-color: white; }

.consulta {
  font-family: 'Poppins', sans-serif; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.mi-titulo {
  margin-bottom: 50px; }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.featurette-divider {
  margin: 5rem 0; }

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }


.f1{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.f2{
   position:absolute;
   left:0px;
   bottom:0px;
   height:12rem;
   width:100%;

}

.mapa{
  width: 48px;
  height: 500px;
}